<!-- 26: add thẻ dsg vào đây và import thẻ edit vào app, thêm phần form thêm ghế -->
<div class="container mb-3">
  <div class="row">
    <div class="col-4 mx-auto">
      <h2 #title for="">Thêm ghế</h2>
      <input type="text" class="form-control mb-2" #ten placeholder="Tên ghế"/>
      <input type="text" class="form-control mb-2" #soGhe placeholder="Số ghế"/>
      <input type="text" class="form-control mb-2" #gia placeholder="Giá"/>
      <input type="text" class="form-control mb-2" #trangThai placeholder="Trạng thái"/>
      <button class="btn btn-primary" (click)="themGheParent(ten.value, soGhe.value, gia.value, trangThai.value)">Thêm Ghế</button>
    </div>
  </div>
</div>

<!-- <app-danh-sach-ghe></app-danh-sach-ghe> -->
<!--  từ comp edit, thêm vào list đang nằm trong dsg.ts ntn? ->27: dsg.ts -->
